body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  font-family: Georgia, serif;
  margin: 0 auto;
  margin-top: 5rem;
  max-width: 535px;
  width: 100%;
  border: 1px solid #222;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 2px;
	background-color: white;
	filter: drop-shadow(0 8px 0.5rem #ccc);
}

.header {
	margin-bottom: 0.5rem;
	color: #222;
}

#quote-box {
  margin: 1rem 2rem 0.5rem;
  line-height: 1.4rem;
	text-align: center;
}

figcaption {
	text-align: right;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#text {
  margin: 0;
	text-align: left;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button,
a {
  border: 1px solid #222;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: 1rem;
  color: white;
  background-color: #222;
  text-decoration: none;
  margin: 1rem;
}

.controls > button:hover,
a:hover {
  background-color: black;
}
